
:root {
  --mainColor: #606b56;
  --secondaryColor: #515a48;
  --borderColor: #161914;
  --mainText: #fff;
  --secondaryText: #eeeeee;
  --themeDotBorder: #fff;
  --previewBg: rgba(81, 90, 72, 0.8);
  --previewShadow: #2a2f25;
  --btnColor: #669966;
  --linkColor:#17a2b8;
}
#works {
  margin: 0 auto;
  min-height: (100vh-4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.worksTitle {
  margin: 1rem 0;
  font-size: 3rem;
  color: var(--mainText);
}

.workDesc {
  font-size: 1rem;
  max-width: 45rem;
  margin-bottom: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.workImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
  max-width: 65rem;
}
.workItem {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--btnColor);
  width: 18rem;
  height: 20rem;
  margin: 0.4rem;
  border-radius: 0.4rem ;
  background: var(--mainText);
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.workItem:hover{
  border-color:var(--borderColor) ;
  box-shadow: 0 0 10px var(--borderColor);
}
.worksImg {
  object-fit: cover;
  height: 10rem;
  width: 18rem;  
}

.workItemDesc{
  height: 10rem;
  text-align: left;
  margin: 1rem;
  color: var(--borderColor);
  
}
.projectName {
  font-size: 1.5rem;
  color: #000;
}
.projectDesc{
  font-size: 0.8rem;
  margin-top: 0.6rem;
  padding: 0 0.2rem;
  margin-bottom: 0.5rem;
  display:-webkit-box;
  -webkit-line-clamp:3 ;
  -webkit-box-orient:vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.projectLink {
  font-size: 0.9rem;
  color: var(--linkColor);
  font-weight: 300;
  z-index: 9;
}
.projectStatus {
  font-size: 0.8rem;
  color: #9eb5ca;
  font-weight: 300;
}
.workBtn {
  margin-top: 1.5rem  ;
  margin-bottom: 0.6rem  ;
  padding: 0.5rem 2.5rem;
  border: none;
  background: var(--btnColor);
  border-radius: 2rem;
  font-size: 1rem;
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.workBtn:hover,
.workBtn:active {
  border-color: var(--borderColor);
  box-shadow: 0 0 10px var(--borderColor);
  cursor: pointer;
}

.workBtn:active {
  transform: scale(0.95);
}
