#works {
  margin: 0 auto;
  min-height: (100vh-4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.worksTitle {
  margin: 1rem 0;
  font-size: 3rem;
}

.workDesc {
  font-size: 1rem;
  font-weight: 300;
  max-width: 45rem;
  margin-bottom: 1rem;
}

.workImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
  max-width: 65rem;
}
.worksImg {
  object-fit: cover;
  height: 24rem;
  width: 20rem;
  margin: 0.7rem;
  border-radius: 0.9rem;
  transition: opacity 0.3s ease;
}

.workItem {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 24rem;
  width: 20rem;
  margin: 0.7rem;
  border-radius: 0.9rem;
  background: rgb(40, 40, 40);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.workItem:hover .worksImg {
  opacity: 0.2;
}

.workItem:hover .overlay {
  opacity: 1;
}

.projectName {
  margin: 0.5rem;
  font-size: 2.5rem;
  color: #28a745;
}

.projectLink {
  font-size: 1rem;
  color: white;
  font-weight: 300;
  z-index: 9;
}
.projectStatus {
  font-size: 1rem;
  color: red;
  font-weight: 200;
}
.workBtn {
  margin: 3rem 0;
  padding: 0.5rem 2.5rem;
  border: none;
  background: white;
  border-radius: 2rem;
  font-size: 1rem;
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.workBtn:hover,
.workBtn:active {
  border-color: green;
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.7);
  cursor: pointer;
}

.workBtn:active {
  transform: scale(0.95);
}
