:root {
  --mainColor: #606b56;
  --secondaryColor: #515a48;
  --borderColor: #161914;
  --mainText: #fff;
  --secondaryText: #eeeeee;
  --themeDotBorder: #fff;
  --previewBg: rgba(81, 90, 72, 0.8);
  --previewShadow: #2a2f25;
  --btnColor: #669966;
}

#landing {
  height: calc(100vh-4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.landingContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hello {
  font-size: 1.75rem;
  font-weight: 100;
}
.introName {
  color: var(--mainText);
}
.introPara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
}
.bg {
  position: absolute;
  z-index: -1;
  top: 4rem;
  right: 0;
  object-fit: cover;
  height: 70vh;
  width: 42%;
  border: 2px solid var(--btnColor);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px var(--previewShadow);
}
.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
  width: 2rem;
}
.btn {
  color: var(--mainText);
  background: var(--btnColor);
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  font-weight: 400;
  border: 1px solid var(--btnColor);
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.btn:hover,
.btn:active {
  border-color: var(--borderColor);
  box-shadow: 0 0 10px var(--previewShadow);
    cursor: pointer;
}

.btn:active {
    transform: scale(0.95);
}
@media screen and (max-width:800px){
  /* #landing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .bg{
    position: none;
    height: 50vh;
    width: 50vw;
  } */
  .hello{
    font-size: 4.5vw;
  }
}

@media screen and (max-width:480px){
  .bg{
    right: -25vw;
  }
  
}

.developerRole {
  color: var(--mainText);
  overflow: hidden; 
  border-right: 0.15em solid var(--previewShadow); 
  white-space: nowrap; 
  margin: 0; 
  letter-spacing: 0.10em; 
  animation: typing 3s steps(20, end), blink-caret 0.75s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--previewShadow);
  }
}