:root {
  --mainColor: #1b4242;
  --secondaryColor: #092635;
  --borderColor: #9ec8b9;
  --mainText: #fff;
  --secondaryText: #eeeeee;
  --themeDotBorder: #fff;
  --previewBg: rgba(81, 90, 72, 0.8);
  --previewShadow: #2a2f25;
  --btnColor: #5c8374;
  --linkColor: #17a2b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Fira Sans", sans-serif;
}

body {
  background: var(--secondaryColor);
  color: var(--secondaryText);
  overflow: hidden;
  overflow-y: scroll;
}

/* start of nav page */

/* end of nav page */
.navbar {
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  background: var(--secondaryColor);
}
.desktopMenu > a {
  color: var(--mainText);
}
.logo {
  object-fit: cover;
  height: 8rem;
  width: 5rem;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 600;
}

.desktopMenuListItem:hover {
  color: var(--mainText);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--btnColor);
}

.desktopMenuButton {
  border: 1px solid var(--btnColor);
  background: var(--btnColor);
  color: var(--mainText);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
  font-weight: 500;
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.desktopMenuImg {
  height: 1rem;
  width: 1rem;
  object-fit: cover;
  margin: 1rem;
}

.desktopMenuButton:hover,
.desktopMenuButton:active {
  border-color: var(--borderColor);
  box-shadow: 0 0 10px var(--previewShadow);
  cursor: pointer;
}

.desktopMenuButton:active {
  transform: scale(0.95);
}

.active {
  color: var(--mainText);
  padding: 0 0.5rem;
  font-size: 1.4rem;
  border-bottom: 2px solid var(--btnColor);
  border-top: 2px solid var(--btnColor);
}

.mobMenu {
  display: none;
  cursor: pointer;
  object-fit: cover;
  height: 2.8rem;
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: var(--mainColor);
  border-radius: 1rem;
  border: 1px solid var(--btnColor);
}

.listItem {
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: var(--secondaryColor);
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .mobMenu {
    display: flex;
  }
  .desktopMenu {
    display: none;
  }
  .desktopMenuButton {
    display: none;
  }
}

/* start of landing page */
#landing {
  height: calc(100vh-4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.landingContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hello {
  font-size: 1.75rem;
  font-weight: 100;
}
.introName {
  color: var(--mainText);
}
.introPara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
}
.bg {
  position: absolute;
  z-index: -1;
  top: 4rem;
  right: 0;
  object-fit: cover;
  height: 70vh;
  width: 42%;
  border: 2px solid var(--btnColor);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px var(--previewShadow);
}
.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
  width: 2rem;
}
.btn {
  color: var(--mainText);
  background: var(--btnColor);
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  font-weight: 400;
  border: 1px solid var(--btnColor);
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.btn:hover,
.btn:active {
  border-color: var(--borderColor);
  box-shadow: 0 0 10px var(--previewShadow);
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}

.developerRole {
  color: var(--mainText);
  overflow: hidden;
  border-right: 0.15em solid var(--previewShadow);
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.1em;
  animation: typing 3s steps(20, end), blink-caret 0.75s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--previewShadow);
  }
}
/* end of landing page */

/* start of about page */
#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skillTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
  color: var(--mainText);
}

.skillDesc {
  font-size: 1rem;
  max-width: 50rem;
  padding: 0 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.toolBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.skillBars {
  margin-top: 0.7rem;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  max-width: 60rem;
}

.skillBar {
  font-size: 0.8rem;
  font-weight: 200;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--mainText);
  border: 1px solid var(--btnColor);
  background: var(--mainColor);
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.skillBar:hover,
.skillBar:active {
  border-color: var(--borderColor);
  box-shadow: 0 0 10px var(--previewShadow);
  cursor: pointer;
}

.skillBar:active {
  transform: scale(0.95);
}
.toolBar {
  background: var(--mainColor);
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--btnColor);
}
.toolbarImg {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}

.toolBarText > h2 {
  color: var(--mainText);
}
.toolBarText > p {
  font-size: 0.8rem;
  font-weight: 200;
}


/* end of about page */

/* start of portfolio page */
#works {
  margin: 0 auto;
  min-height: (100vh-4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.worksTitle {
  margin: 1rem 0;
  font-size: 3rem;
  color: var(--mainText);
}

.workDesc {
  font-size: 1rem;
  max-width: 45rem;
  margin-bottom: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.workImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
  max-width: 70rem;
}
.workItem {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--btnColor);
  width: 22rem;
  height: 18rem;
  margin: 0.4rem;
  border-radius: 0.4rem;
  background: var(--mainText);
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.workItem:hover {
  border-color: var(--borderColor);
  box-shadow: 0 0 10px var(--borderColor);
}
.worksImg {
  object-fit: cover;
  height: 10rem;
  width: 22rem;
}

.workItemDesc {
  height: 10rem;
  text-align: left;
  margin: 1rem;
  color: var(--borderColor);
}
.projectName {
  font-size: 1.5rem;
  color: #000;
}
.projectDesc {
  color: #000;
  font-size: 0.8rem;
  margin-top: 0.6rem;
  padding: 0 0.2rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.projectLink {
  font-size: 0.9rem;
  color: var(--linkColor);
  font-weight: 300;
  z-index: 9;
}
.projectStatus {
  font-size: 0.8rem;
  color: #9eb5ca;
  font-weight: 300;
}
.workBtn {
  margin-top: 1.5rem;
  margin-bottom: 0.6rem;
  padding: 0.5rem 2.5rem;
  border: none;
  background: var(--btnColor);
  border-radius: 2rem;
  font-size: 1rem;
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.workBtn:hover,
.workBtn:active {
  border-color: var(--borderColor);
  box-shadow: 0 0 10px var(--borderColor);
  cursor: pointer;
}

.workBtn:active {
  transform: scale(0.95);
}

/* end of portfolio page */

/* start of work portfolio and contact page */
#contactPage {
  min-height: calc(100vh-4rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactPageTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--mainText);
}
.clientDesc {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.clientsImgs {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.clientDetails {
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--btnColor);
}
.clientImg {
  object-fit: cover;
  width: 100%;
  height: 10rem;
  min-width: 9rem;
  border-radius: 0.5rem;
}
.details {
  width: 100%;
  padding: 1rem;
  background: var(--mainColor);
  border-radius: 0.4rem;
}
#clients {
  padding: 2rem;
}

.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 400;
  letter-spacing: 1px;
}
.contactForm {
  padding: 2.5rem 0;
  border: 1px solid var(--btnColor);
  background: var(--mainColor);
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
  border-radius: 0.5rem;
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 54rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: 1px solid var(--btnColor);
  outline: 0 !important;
  border-radius: 0.5rem;
  background: var(--secondaryColor);
  transition: border-color 0.3s ease-in-out;
}
.name:hover,
.email:hover,
.msg:hover {
  border: 2px solid var(--borderColor) !important;
  box-shadow: 0 0 10px var(--previewShadow);
}
.name:focus,
.email:focus,
.msg:focus {
  border: 2px solid var(--borderColor) !important;
  outline: none;
  box-shadow: 0 0 10px var(--previewShadow);
}
.submitBtn {
  background: var(--btnColor);
  padding: 0.75rem 3.5rem;
  border-radius: 0.5rem;
  width: 100%;
  font-size: medium;
  max-width: 54rem;
  margin-top: 1.5rem;
  font-weight: 500;
  color: var(--mainText);
  border: 2px solid var(--btnColor);
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.submitBtn:hover,
.submitBtn:active {
  border-color: var(--borderColor);
  box-shadow: 0 0 10px var(--previewShadow);
  cursor: pointer;
}

.submitBtn:active {
  transform: scale(0.95);
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
}
.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0 0.75rem;
}
/* end of work portfolio and contact page */

/* start of work footer page */
.footer {
  width: 100vw;
  height: 4rem;
  background: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-weight: 300;
}

/* end of work footer page */


/* for responsive */
@media screen and (max-width: 850px) {
  #landing {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset;
    flex-direction: column;
  } 
  .bg {
    position: unset;
    top: unset;
    right: unset;
    height: 40vh;
    width: 100%;
    max-width:85vw; 
  }
  .landingContent {
    height: 60vh;  
    font-size: 2.5rem;
  }
  .hello {
    font-size: 4.5vw;
    padding-bottom: 0.7rem;
  }
  .introPara {
    padding-top: 0.7rem;
    letter-spacing: 1.5px;
}

.skillBars{
  padding: 0.5rem 2rem;
}
.skillDesc{
  letter-spacing: 1.5px !important; 
}
.toolBar{
  margin: 1rem 0 !important;
  padding: 1rem !important;
}
.toolbarImg {
  margin-right: 1.5rem !important;
}
.toolBarText > p{
  font-size: 0.7rem !important;
}
.toolBars {
  max-width: 82% !important;
}

.clientDetails {
  margin: 0.8rem 0 !important;
}
.contactForm {
  padding: 1rem !important;
}
}


@media screen and (width: 768px){
  .landingContent {
      height: 35vh;
      padding: 4rem;
  }
  }
@media screen and (width: 375px){
.landingContent {
    height: 55vh !important;
    font-size: 2rem;
}
}

@media screen and (max-width: 480px) {
  .landingContent {
    height: 45vh; 
  }
}
